<div class="container">
  <div class="frame">
    <div class="content-city">
      <h2 class="title-city">
        {{ dataWeather.name }},{{ dataWeather.sys.country }}
      </h2>
      <img
        class="img-weather"
        src="../../../../assets/images/icons/icons8-long-60.png"
        alt="icons8-long-60"
        srcset=""
      />
    </div>

    <div class="front">
      <div>
        <div class="temperature">{{ dataWeather.main.temp | number }}°</div>
        <div class="icons">
          <mat-icon aria-hidden="false" aria-label="air icon">air</mat-icon
          ><br /><mat-icon aria-hidden="false" aria-label="water icon"
            >ac_unit</mat-icon
          >
        </div>
        <div>
          <div class="info">
            {{ dataWeather.wind.speed | number }} km/h <br />
            {{ dataWeather.main.humidity | number }}%
          </div>
          <table class="preview">
            <tbody>
              <tr>
                <td>
                  <mat-icon aria-hidden="false" aria-label="water icon"
                    >compress</mat-icon
                  >
                </td>

                <td>{{ dataWeather.main.pressure | number }}</td>
              </tr>
              <tr>
                <td>
                  <mat-icon aria-hidden="false" aria-label="water icon"
                    >thermostat</mat-icon
                  >
                </td>
                <td>{{ dataWeather.weather[0].main }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="proverb">
        “{{ dataWeather.weather[0].description }}<br />Means rain will come real
        soon.”
      </div>
    </div>
  </div>
</div>
