<div class="container">
    <div class="frame">
      <div class="content-city">
        <h2 class="title-city">Cali,Colombia</h2>
        <img
          class="img-weather"
          src="../../../../assets/images/icons/icons8-long-60.png"
          alt="icons8-long-60"
          srcset=""
        />
      </div>
  
      <div class="front">
        <div>
          <div class="temperature">12°</div>
          <div class="icons">
            <mat-icon aria-hidden="false" aria-label="air icon">air</mat-icon
            ><br /><mat-icon aria-hidden="false" aria-label="water icon"
              >water</mat-icon
            >
          </div>
          <div>
            <div class="info">
              7 km/h <br />
              87%
            </div>
            <table class="preview">
              <tbody>
                <tr>
                  <td>Cali</td>
                  <td>21° | 9°</td>
                </tr>
                <tr>
                  <td>Wed</td>
                  <td>23° | 10°</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="proverb">
          “Frogs croaking in the lagoon,<br />Means rain will come real soon.”
        </div>
      </div>
    </div>
  </div>
  
