table {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b1fa2;
}

.title {
  margin-right: 10px;

}




.mat-toolbar {
  background: #fff;
  color: #686868;
  justify-content: center;

}
.title-pages{
  margin-right: 2rem;
}